body{
    background-image: url("../assets/wall4.jpg");
}

ul{
    list-style: none;
}

header {
    height: 100px;
    border: 1px solid black;
    color: #FFC400;
    background-image: url("../assets/wall3.jpg");
}


.title {
    font-size: 25px;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.seat-list{
    width: 150px;
    height: 50px;
    color:  #7af442;
    background-image: url("../assets/wall3.jpg");
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
    overflow: hidden;
}

.selected{
    color:  #BD0009
}
